@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f9f6ed;
  --foreground: #5e3032;
  --font-header: "Cormorant Garamond", serif;
  --font-body: "Montserrat", sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #5e3032;
    --foreground: #f9f6ed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-body);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-header);
}